@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';
@font-face {
  font-family: 'default_fonts_a';
  src: url('/client/src/assets/fonts/fonts_a.ttf') format('truetype');
}

@font-face {
  font-family: 'default_fonts_b';
  src: url('/client/src/assets/fonts/fonts_b.ttf') format('truetype');
}

@font-face {
  font-family: 'clash_display';
  src: url('/fonts/ClashDisplay-Medium.ttf');
}

body {
  font-family: 'Poppins', sans-serif !important;
}

::selection {
  background: greenyellow; /* highlight color */
  color: #000; /* text color */
}

:root {
  --bgColor: '#0a0b0c', --textColor: '#fff';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--bgColor);
}

.pointer-events-none {
  width: 25% !important;
}

.poppins-font-type {
  font-family: 'Poppins', sans-serif;
}
