 /* Root */
.about-hero {
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  padding: 0vw 0vw 0vw 4vw;
}

/* Grid Layout */
.hero-grid {
  display: grid;
  grid-template-columns: 1fr 1.9fr;
  align-items: start;
  gap: 4rem;
  height: 85dvh;
}

/* IMAGE SECTION */
.hero-image-wrapper {
  position: relative;
   display: inline-block;
  justify-content: center;
  height: 95%;
  margin-top: 5%;
}

.hero-image {
  width: 90%;
  height: 90%;
  object-fit: cover;
  max-width: 380px;
  border-radius:  0px 0px 220px 220px;
  object-fit: cover;
}

/* CIRCULAR TAG */
.circular-text {
  position: absolute;
  background: #111116;
}
 
.button-wrapper{
    margin-top: 30px;
}
/* ROTATION */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* CONTENT */
.hero-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;


}

.hero-title {
  font-size: 4rem; 
}

.title-highlight {
   color: #9cff57;
   font-size: 4rem;
    
}
.title-non-highlight{
   font-size: 4rem; 
   font-family: "clash_display";
}
.title-wrapper{
    font-family: "clash_display";
}
.css-2t6ken-MuiTypography-root{
    line-height: .9 !important;
}

/* DESCRIPTION */
.hero-description {
  margin-top: 1.5rem !important;
  font-size: 16px !important;
  color: #bcbcbc;
  max-width: 480px;
}

/* BUTTON */
.hero-button {
  margin-top: 2rem;
  color: #ffffff;
  border-color: #ffffff;
  border-radius: 50px;
  padding: 10px 26px;
  text-transform: none;
  font-size: 1rem;
}

.hero-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .hero-grid {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .hero-image-wrapper {
    margin-bottom: 3rem;
  }

  .circular-text {
    right: 50%;
    transform: translateX(50%);
  }

  .hero-description {
    margin-left: auto;
    margin-right: auto;
  }
}
