/* Root */
.main-about {
  min-height: 100vh !important;
}
.about-hero {
  min-height: 90dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  padding: 0vw 0vw 0vw 4vw;
  overflow: hidden;
}

/* Grid Layout */
.hero-grid {
  display: grid;
  grid-template-columns: 1fr 1.9fr;
  align-items: start;
  height: 85dvh;
  gap: 20px;
}

/* IMAGE SECTION */
.hero-image-wrapper {
  position: relative;
  display: inline-block;
  justify-content: center;
  display: flex;
  height: 88%;
  margin-top: 5%;
}

.hero-image {
  width: 92%;
  height: 90%;
  object-fit: cover;
  border-radius: 0px 0px 220px 220px;
}

/* CIRCULAR TAG */
.circular-text {
  position: absolute;
  background: #111116;
}

.button-wrapper {
  margin-top: 30px;
}
.chip-logo-wrapper {
  width: 100%;
  height: 14dvh;
}
/* ROTATION */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* CONTENT */
.hero-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.hero-title {
  margin-top: -10% !important;
}

/* DESCRIPTION */
.hero-description {
  font-size: 16px !important;
  color: #bcbcbc;
  max-width: 550px;
  margin-top: -2% !important;
}

/* BUTTON */
.hero-button {
  margin-top: 2rem;
  color: #ffffff;
  border-color: #ffffff;
  border-radius: 50px;
  padding: 10px 26px;
  text-transform: none;
  font-size: 1rem;
}

.hero-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .about-hero {
    padding: 0vw 0vw 0vw 0vw;
    padding-bottom: 15dvh !important;
    padding-top: 10dvh !important;
  }

  .hero-grid {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .hero-image-wrapper {
    margin-bottom: 3rem;
    height: 55dvh;
  }
  .hero-image {
    width: 100%;
    height: 110%;
    margin-top: -10%;
  }

  .circular-text {
    right: 50%;
    transform: translateX(50%);
  }

  .hero-description {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }
  .chip-logo-wrapper {
    margin-top: 10%;
    height: 14dvh;
  }
}
