.nav-container {
  width: 100dvw;
  height: 10dvh;
  position: fixed;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-inner-container {
  width: 85%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  opacity: 100% !important;
  border-radius: 500px;
}

.navigation-container {
  display: flex;
  font-size: var(--font-size-nav);
  gap: 10px;
}
.nav-list {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
/* .nav-list:hover{
    color: #fff;
    transition: cubic-bezier(0.19, 1, 0.22, 1) .8s;
} */
.icons {
  font-size: var(--font-size-large);
  cursor: pointer;
}
.active {
  /* greenyellow */
  background-color: #b5fe6c;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.Toastify__progress-bar {
  background: #b5fe6c !important;
}


